<%= form_for @plant, :class => 'form-stacked' do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :common_name %>&nbsp;<%= f.text_field :common_name %>
  </p>
  <p>
    <%= f.label :genus %>&nbsp;
    <%= f.text_field :genus %>
  </p>
  <p>
    <%= f.label :species %>&nbsp;
    <%= f.text_field :species %>
  </p>
  <p>
    <%= f.label :zone %>&nbsp;
    <%= f.text_field :zone %>
  </p>
  <p>
    <%= f.label :light %>&nbsp;
    <%= f.text_field :light %>
  </p>
  <p>
    <%= f.label :moisture %>&nbsp;
    <%= f.text_field :moisture %>
  </p>
  <p>
    <%= f.label :soil_texture %>&nbsp;
    <%= f.text_field :soil_texture %>
  </p>
  <p>
    <%= f.label :soil_ph %>&nbsp;
    <%= f.text_field :soil_ph %>
  </p>
  <p>
    <%= f.label :form %>&nbsp;
    <%= f.text_field :form %>
  </p>
  <p>
    <%= f.label :height %>&nbsp;
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %>&nbsp;
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :root_span %>&nbsp;
    <%= f.text_field :root_span %>
  </p>
  <p>
    <%= f.label :lifespan %>&nbsp;
    <%= f.text_field :lifespan %>
  </p>
  <p>
    <%= f.label :growth_rate %>&nbsp;
    <%= f.text_field :growth_rate %>
  </p>
  <p>
    <%= f.label :native %>&nbsp;
    <%= f.text_field :native %>
  </p>
  <p>
    <%= f.label :edible %>&nbsp;
    <%= f.text_field :edible %>
  </p>
  <p>
    <%= f.label :medicinal %>&nbsp;
    <%= f.text_field :medicinal %>
  </p>
  <p>
    <%= f.label :nitrogen_fixer %>&nbsp;
    <%= f.text_field :nitrogen_fixer %>
  </p>
  <p>
    <%= f.label :ground_cover %>&nbsp;
    <%= f.text_field :ground_cover %>
  </p>
  <p>
    <%= f.label :dynamic_accumulator %>&nbsp;
    <%= f.text_field :dynamic_accumulator %>
  </p>
  <p>
    <%= f.label :nectary %>&nbsp;
    <%= f.text_field :nectary %>
  </p>
  <p>
    <%= f.label :cover_crop %>&nbsp;
    <%= f.text_field :cover_crop %>
  </p>
  <p>
    <%= f.label :seed_stock_sources %>&nbsp;
    <%= f.text_field :seed_stock_sources %>
  </p>
  <p>
    <%= f.label :local_examples %>&nbsp;
    <%= f.text_field :local_examples %>
  </p>
  <p>
    <%= f.label :sources %>&nbsp;
    <%= f.text_field :sources %>
  </p>
  <p>
    <%= f.label :notes %>&nbsp;
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :insects %>&nbsp;
    <%= f.text_field :insects %>
  </p>
  <p>
    <%= f.label :animals %>&nbsp;
    <%= f.text_field :animals %>
  </p>
  <p>
    <%= f.label :flavor_profile %>&nbsp;
    <%= f.text_field :flavor_profile %>
  </p>
  <p><%= f.submit %></p>
<% end %>
