<% title "Plants" %>

<div class="row">
  <div class="span10">
    <h1>About Atriplex</h1>
    <p>
      Atriplex.org is an open-source website that helps facilitate the research and design of permaculture landscapes in Colorado.  Centered around an user-editable database of plants appropriate for Colorado’s ecology, Atriplex is designed to help you learn more about edible landscape design and how to incorporate it into your site.
    </p><br>
    <h1>Featured Species</h1>
    <%= image_tag "sea_buckthorn.png" %>
    <p>
      <span class="blue">Sea Buckthorn</span> <i>(Hippophae rhamnoides)</i><br>
      Perennial nitrogen-fixing shrub with edible berries.
    </p>
  </div><!-- /span10 -->
  <div id="home_links" class="span10">
    <h1>Get Started</h1>
    <div id="learn" class="home_icons">
      <%= image_tag "learn.png", :align => 'middle', :class => 'left' %>
      <div class="left" style="margin-left: 20px;">
        <span class="blue">LEARN</span> about permaculture,<br>
        guild design and more
      </div>
    </div>
    <div id="browse" class="home_icons">
      <%= image_tag "browse.png", :align => 'middle', :class => 'left' %>
      <div class="left" style="margin-left: 47px;">
        <span class="blue">BROWSE</span> the plant listings by name,<br>
        size function and more
      </div>
    </div>
    <div id="search" class="home_icons">
      <%= image_tag "search.png", :align => 'middle', :class => 'left' %>
      <div class="left" style="margin-left: 47px;">
        <span class="blue">SEARCH</span> Atriplex for species that are<br>
        appropriate for your site
      </div>
    </div>
    <%= link_to new_user_registration_path do %>
      <div id="contribute" class="home_icons">
        <%= image_tag "contribute.png", :align => 'middle', :class => 'left' %>
        <div class="left" style="margin-left: 30px;">
          <span class="blue">CONTRIBUTE</span> your species information,<br>
          pictures, plant sources and more to the<br>
          Atriplex database
        </div>
      </div>
    <% end -%>
  </div><!-- /span10 -->
</div><!-- /row -->
<%= render "plants_table" %>
