<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "The Atriplex Project" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a href="<%= root_path %>" class="brand">The Atriplex Project</a>
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "New Plant", new_plant_path if current_user %></li>
          </ul>
          <%= form_tag("/plants/search", :method => "get") do %>
            <%= text_field_tag :search, "", :class => "pull-left", :placeholder => "Search" %>
          <% end -%>
          <ul class="nav secondary-nav">
            <% if current_user %>
              <li class="current_user">Hello, <%= current_user.email %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="current_user"> | </li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
      <% 
      if "#{name}" == 'notice'
        context = 'success'
      elsif "#{name}" == 'error'
        context = 'error'
      elsif "#{name}" == 'success'
        context = 'success'
      end
      %>
        <%= content_tag :div, msg, :class => "alert-message #{context}" %>
      <% end %>
      <%#= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
