<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "initial-scale = 1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Atriplex Project" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "The Atriplex Project", root_path, :class => 'brand' %>
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Learn", learn_plants_path %></li>
            <li><%= link_to "Browse", browse_plants_path %></li>
            <li><%= link_to "Contribute", new_user_registration_path %></li>
            <li><%= link_to "New Plant", new_plant_path if current_user %></li>
          </ul>
          <div id='nav_button'>
            Nav
            <ul id='small_screen_nav'>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Learn", learn_plants_path %></li>
              <li><%= link_to "Browse", browse_plants_path %></li>
              <li><%= link_to "Contribute", new_user_registration_path %></li>
              <li><%= link_to "New Plant", new_plant_path if current_user %></li>
            </ul>
          </div>
          <div id="searchContainer"></div>
          <ul class="nav secondary-nav">
            <% if current_user %>
              <li class="current_user">Hello, <%= current_user.email %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="current_user"> | </li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li class="current_user"> | </li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id="container" class="header_image">
      <%= image_tag "atriplex_logo.png" %>
    </div><!-- /container -->
    <div id="container">
      <% flash.each do |name, msg| %>
      <% 
      if "#{name}" == 'notice'
        context = 'success'
      elsif "#{name}" == 'error'
        context = 'error'
      elsif "#{name}" == 'success'
        context = 'success'
      end
      %>
        <%= content_tag :div, msg, :class => "alert-message #{context}" %>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= yield :custom_js %>
  </body>
</html>
